@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(111.34deg, #4FCFF8 7.25%, #D0EBF0 90.66%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ===================
      TYPOGRAPHY        
====================== */

.nav--text {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.container--title {
    font-size: 40px;
    width: 350px;
}

.container--subtitle {
    margin: 10px 0;
    color: #4E545C;
    font-weight: bold;

}

/* ===================
      NAVBAR
====================== */

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.current-page {
    border-bottom: 3px solid #00C2FF;
}

/* ====================
      BODY
======================= */

.container {
    width: 110%;
    padding: 30px 150px;
    display: flex;
    flex-direction: row;
}

.container--text {
    margin-left: 80px;
    margin-top: 80px;
    width: 50%;
}

